/* ---------- TYPOGRAPHY  ---------- */
.typo_title_big {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: -0.05em;
}
.lh_title_big {
  line-height: 67px;
}
.typo_title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: -0.05em;
}
.typo_title__lh {
  line-height: 1.227em;
}
.typo_title_small {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: -0.05em;
}
.typo_title_small__lh {
  line-height: 1.273em;
}
.typo_content_title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
}
.typo_content_title__lh {
  line-height: 1.44em;
}
.typo_content_title_small {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
.typo_content_title_small__lh {
  line-height: 1.5em;
}
.typo_content {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.typo_content__lh {
  line-height: 1.688em;
}
.typo_content_small {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.01em;
}
.typo_content_small__lh {
  line-height: 1.929em;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
}
a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
  text-decoration: none;
}
/* --------- COLOR ------------ */
.type--light {
  color: #666666;
}
/* ---------- LAYOUT  ---------- */
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
/* ---------- COMMON  ---------- */
.z_index_back {
  z-index: -1;
}
.z_index_low {
  z-index: 1;
}
.z_index_high {
  z-index: 3;
}
.hidden_text {
  display: inline-block;
  text-indent: -9999em;
  outline: none;
}
.shadow {
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
}
.shadow_dark {
  box-shadow: 0px 3px 3px rgba(102, 102, 102, 0.5);
}
.no_shadow {
  box-shadow: none;
}
.center_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center_vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fill_parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sprites {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
}
.sprites.shoplink {
  width: 130px;
  height: 40px;
  background-position: 0px 0px;
}
.sprites.logo {
  width: 125px;
  height: 120px;
  background-position: -150px 0px;
}
.menu .icon {
  width: 16px;
  height: 12px;
  background-position: -390px 0px;
}
.option .icon {
  width: 16px;
  height: 15px;
  background-position: -420px 0px;
}
.locale .icon {
  width: 17px;
  height: 19px;
  background-position: -300px 0px;
}
.help .icon {
  width: 18px;
  height: 19px;
  background-position: -330px 0px;
}
.search .icon {
  width: 18px;
  height: 19px;
  background-position: -360px 0px;
}
.sprites.search_button {
  width: 18px;
  height: 19px;
  background-position: -360px 0px;
}
.sprites.close {
  width: 15px;
  height: 15px;
  background-position: -450px -80px;
}
.sprites.plus_more_black {
  width: 13px;
  height: 15px;
  background-position: -580px 0px;
}
.sprites--plus--black--big {
  width: 20px;
  height: 20px;
  background-position: -600px 0px;
}
.banner .left a {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 38px;
  height: 63px;
  background-position: -50px -300px;
}
.banner .right a {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 38px;
  height: 63px;
  background-position: -90px -300px;
}
.section--corporation .item .quality .icon {
  width: 150px;
  height: 150px;
  background-position: 0px -150px;
}
.section--corporation .item .nutrition .icon {
  width: 150px;
  height: 150px;
  background-position: -150px -150px;
}
.section--corporation .item .products .icon {
  width: 150px;
  height: 150px;
  background-position: -300px -150px;
}
.section--corporation .item .society .icon {
  width: 150px;
  height: 150px;
  background-position: -450px -150px;
}
.section--corporation .item .environment .icon {
  width: 150px;
  height: 150px;
  background-position: -600px -150px;
}
.section--corporation .item .ethic .icon {
  width: 150px;
  height: 150px;
  background-position: -750px -150px;
}
.sprites.shoplink--small {
  width: 20px;
  height: 19px;
  background-position: -450px 0px;
}
.sprites--robot {
  width: 41px;
  height: 55px;
  background-position: -500px -400px;
}
.sprites--gear {
  width: 60px;
  height: 60px;
  background-position: -400px -400px;
}
.sprites--factory1 {
  width: 58px;
  height: 40px;
  background-position: 0px -400px;
}
.sprites--factory2 {
  width: 50px;
  height: 50px;
  background-position: -100px -400px;
}
.sprites--factory3 {
  width: 49px;
  height: 49px;
  background-position: -200px -400px;
}
.sprites--factory4 {
  width: 53px;
  height: 44px;
  background-position: -300px -400px;
}
@media all and (max-width: 600px) {
  .section--corporation .item .quality .icon {
    width: 100px;
    height: 100px;
    background-position: -150px -300px;
  }
  .section--corporation .item .nutrition .icon {
    width: 100px;
    height: 100px;
    background-position: -250px -300px;
  }
  .section--corporation .item .products .icon {
    width: 100px;
    height: 100px;
    background-position: -350px -300px;
  }
  .section--corporation .item .society .icon {
    width: 100px;
    height: 100px;
    background-position: -450px -300px;
  }
  .section--corporation .item .environment .icon {
    width: 100px;
    height: 100px;
    background-position: -550px -300px;
  }
  .section--corporation .item .ethic .icon {
    width: 100px;
    height: 100px;
    background-position: -650px -300px;
  }
}
.sub header .sprites.logo,
.sprites--logo--text {
  width: 114px;
  height: 44px;
  background-position: -300px -80px;
}
.circle_icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
  transition: width 0.5s;
  overflow: hidden;
}
.circle_icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle_icon .text,
.circle_icon .arrow {
  position: absolute;
  right: -100px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  opacity: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-family: "Noto Serif KR", serif;
  color: #999999;
}
.circle_icon:hover {
  width: 120px;
  padding: 5px 15px;
  border: 1px solid #fef100;
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
}
.circle_icon:hover .icon {
  background-position-y: -30px;
  position: static;
  top: auto;
  left: auto;
  transform: none;
}
.circle_icon:hover .text,
.circle_icon:hover .arrow {
  right: 15px;
  margin-left: 7px;
  opacity: 1;
}
.circle_icon:active {
  box-shadow: none;
  background: #f8f8f8;
}
.circle_icon:active .text {
  color: #666666;
}
.circle_icon.dropdown_menu {
  overflow: visible;
}
.circle_icon.dropdown_menu .window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: inherit;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.circle_icon.dropdown_menu .dropdown_content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: calc(100% + 1px);
  width: inherit;
  border: 1px solid #fef100;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
  z-index: 3;
  padding: 20px 0;
  background: #fff;
}
.circle_icon.dropdown_menu .dropdown_content li {
  height: 30px;
  line-height: 30px;
}
.circle_icon.dropdown_menu .dropdown_content li:hover {
  background: #f1f1f1;
}
.circle_icon.dropdown_menu.active .text {
  color: #666666;
}
.circle_icon.dropdown_menu.active .dropdown_content {
  display: block;
}
.circle_icon.dropdown_menu:hover {
  width: 130px;
}
.circle_icon.dropdown_menu:hover .text {
  right: 30px;
}
.circle_icon.dropdown_menu:hover .arrow {
  color: #cccccc;
}
@media all and (max-width: 1110px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
@media all and (max-width: 600px) {
  .circle_icon:hover {
    width: 34px;
    padding: 0;
    border: 1px solid #e3e3e3;
    box-shadow: none;
  }
  .circle_icon:hover .icon {
    background-position-y: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle_icon:hover .text,
  .circle_icon:hover .arrow {
    opacity: 0;
  }
  .circle_icon.dropdown_menu {
    overflow: visible;
  }
  .circle_icon.dropdown_menu .window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .circle_icon.dropdown_menu .dropdown_content {
    width: 150px;
    right: 0;
    left: auto;
    transform: none;
    top: calc(100% - 1px);
  }
  .circle_icon.dropdown_menu .dropdown_content li {
    height: 30px;
    line-height: 30px;
  }
  .circle_icon.dropdown_menu .dropdown_content li:hover {
    background: #f1f1f1;
  }
  .circle_icon.dropdown_menu:hover {
    width: 34px;
  }
  .circle_icon.dropdown_menu.active {
    border: 1px solid #fef100;
  }
  .circle_icon.dropdown_menu.active .icon {
    background-position-y: -30px;
  }
}
.m_button--square--border {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 40px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  cursor: pointer;
}
.m_button--square--border:hover {
  color: #004796;
  font-weight: 700;
  border: 1px solid #666666;
}
.m_button--square--border:hover .sprites {
  background-position-y: -30px;
}
.m_button--square--border:hover .m_button--square--border__icon--shoplink {
  background-position-y: -30px;
}
.m_button--square--border--big {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 40px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  cursor: pointer;
  width: 300px;
}
.m_button--square--border--big:hover {
  color: #004796;
  font-weight: 700;
  border: 1px solid #666666;
}
.m_button--square--border--big:hover .sprites {
  background-position-y: -30px;
}
.m_button--square--border__icon--more {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 13px;
  height: 15px;
  background-position: -580px 0px;
  margin-left: 15px;
}
.m_button--square--border__icon--shoplink {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 20px;
  height: 19px;
  background-position: -450px 0px;
}
.m_button--square--border__icon--more--big {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 20px;
  height: 20px;
  background-position: -600px 0px;
  margin-left: 15px;
}
.layout--5column {
  display: flex;
  justify-content: space-between;
}
.layout--5column .layout--5column__col {
  width: 25%;
}
.layout--5column .layout--5column__title__back {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: #cccccc;
  padding: 20px;
  box-sizing: border-box;
}
.layout--5column .layout--5column__title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  width: 130px;
  text-align: right;
}
.layout-square {
  position: relative;
}
.layout-square .layout-square--content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layout-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.thumnail_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  margin-left: -1px;
}
.thumnail_item .thumnail_item--title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-family: "Noto Serif KR", serif;
  font-weight: 700;
  margin-top: 15px;
}
/* ------------ FLEX 지원 안할 때 대체 CSS ----------- */
/* ---------- HEADER - LAYOUT  ---------- */
header {
  background: #fff;
  transition: height 0.5s;
}
header .upper_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  padding: 27px 0;
  height: 120px;
  /* 순서 및 보이고 안보이고 조정 */
}
header .upper_nav .shoplink {
  order: 1;
}
header .upper_nav h1 {
  order: 2;
}
header .upper_nav .option_content {
  order: 3;
}
header .upper_nav .option {
  order: 4;
}
header .upper_nav .menu {
  display: none;
}
header .upper_nav .option {
  display: none;
}
header .upper_nav .option_content .search {
  display: none;
}
header .upper_nav h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .upper_nav .shoplink {
  margin-right: auto;
}
header .upper_nav .option_content {
  display: flex;
}
header .upper_nav .option_content > span {
  margin-left: 10px;
}
header .upper_nav .search_input {
  position: absolute;
  right: 0;
  bottom: 27px;
  width: 250px;
  height: 30px;
}
header .upper_nav .search_input input[type="text"] {
  border: none;
  outline: none;
  width: 220px;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
header .upper_nav .search_input .search_button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-7px, -7px);
  border: none;
  cursor: pointer;
}
header .upper_nav .search_input input[type="text"]:focus ~ .search_button {
  background-position-y: -30px;
}
header .upper_nav .search_input span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  border-bottom: 1px solid #e3e3e3;
}
header .upper_nav .search_input input[type="text"]:focus ~ span {
  border-bottom: 1px solid #fef100;
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
}
header nav {
  position: relative;
}
header nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 27px 200px;
  cursor: pointer;
}
header nav > ul > li {
  text-align: center;
  width: 300px;
  position: relative;
}
header nav > ul > li > a {
  position: relative;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
header nav > ul > li > a:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
  width: 0%;
  transition: width 0.5s;
}
header nav > ul > li > ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 81px;
  z-index: 3;
  display: none;
}
header nav > ul > li > ul > li a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-family: "Noto Serif KR", serif;
}
header nav > ul > li > ul > li:not(:first-child) {
  margin-top: 12px;
}
header nav > ul > li > ul > li:hover a {
  font-weight: 600;
}
header nav img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
}
header nav img.corporation {
  bottom: 50px;
  margin-left: -230px;
}
header nav img.products {
  bottom: 50px;
  margin-left: 150px;
}
header nav img.media {
  bottom: 50px;
  margin-left: 150px;
}
header nav .background {
  position: absolute;
  width: 100%;
  height: 0px;
  z-index: 1;
  border-top: 1px solid #e3e3e3;
  background: #fff;
  transition: 0.5s;
}
header nav .background .close {
  display: none;
}
header.open_sub nav > ul ul {
  display: block;
}
header.open_sub nav > ul > li:hover > a:after {
  width: 100%;
  border: 1px solid #e0393d;
}
header.open_sub nav .background {
  height: 450px;
}
/* ----------- Sub Page ---------------- */
.sub header .upper_nav {
  position: relative;
  padding: 20px 0;
  align-items: center;
  /* 순서 및 보이고 안보이고 조정 */
}
.sub header .upper_nav .search_input {
  display: none;
}
.sub header .upper_nav .option_content .search {
  display: flex;
}
.sub header .upper_nav .shoplink {
  position: absolute;
  top: 100%;
  right: 0;
}
/* ----------- TABLET ----------------- */
@media all and (max-width: 1110px) {
  header .upper_nav {
    padding: 20px 15px;
    /* 순서 및 보이고 안보이고 조정 */
  }
  header .upper_nav .option_content .search {
    display: flex;
  }
  header .upper_nav .search_input {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
  }
  header nav > ul {
    padding: 27px 0px;
  }
  header nav img.corporation {
    left: 0;
    margin-left: 20px;
    transform: none;
  }
  header.open_search .upper_nav .search_input {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
    z-index: 3;
    left: 50%;
    top: 280px;
    width: 400px;
  }
  header.open_search .upper_nav .search_input input[type="text"] {
    width: 400px;
  }
  header.open_search .upper_nav .search_input span {
    width: 400px;
  }
  header.open_search .upper_nav .search {
    width: 120px;
    padding: 5px 15px;
    border: 1px solid #fef100;
    box-shadow: none;
  }
  header.open_search .upper_nav .search .icon {
    background-position-y: -30px;
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }
  header.open_search .upper_nav .search .text,
  header.open_search .upper_nav .search .arrow {
    right: 15px;
    margin-left: 7px;
    opacity: 1;
    color: #666666;
  }
  header.open_search nav .background {
    height: 120px;
  }
  header.open_search nav .background .close {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    margin-left: 250px;
    cursor: pointer;
  }
}
/* ----------- MOBILE ----------------- */
@media all and (max-width: 600px) {
  header .upper_nav {
    padding: 15px;
    /* 순서 및 보이고 안보이고 조정 */
  }
  header .upper_nav .menu {
    display: block;
  }
  header .upper_nav .option {
    display: block;
  }
  header .upper_nav .option_content {
    display: none;
  }
  header .upper_nav .shoplink {
    display: none;
  }
  header .upper_nav .menu {
    display: block;
    margin-right: auto;
  }
  header .upper_nav .option_content {
    position: absolute;
    top: 65px;
    z-index: 3;
    overflow: hidden;
    width: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header .upper_nav .option_content > span.circle_icon {
    margin-bottom: 5px;
    overflow: visible;
    transform: translateX(150px);
    transition: 0.5s;
  }
  header .upper_nav .option_content > span.circle_icon .text {
    right: 40px;
    opacity: 1;
    white-space: nowrap;
    color: #666666;
  }
  header .upper_nav .option_content > span.circle_icon .window {
    overflow: visible;
  }
  header .upper_nav .option_content > span.circle_icon .arrow {
    display: none;
  }
  header .upper_nav .option_content > span.circle_icon.locale {
    transition-delay: 0.2s;
  }
  header .upper_nav .option_content .search {
    display: none;
  }
  header nav {
    display: none;
  }
  header.open_sub nav {
    display: block;
  }
  header.open_sub nav > ul {
    flex-direction: column;
    justify-content: center;
  }
  header.open_sub nav > ul > li {
    width: 100%;
  }
  header.open_sub nav > ul > li > ul {
    display: none;
  }
  header.open_sub nav > ul > li.active > a:after {
    width: 100%;
    border: 1px solid #e0393d;
  }
  header.open_sub nav > ul > li.active > ul {
    display: block;
    position: static;
    transform: none;
    margin-top: 27px;
  }
  header.open_sub nav > ul > li:not(:last-child) {
    margin-bottom: 20px;
  }
  header.open_sub nav .background {
    display: none;
  }
  header.open_setting .circle_icon.option {
    border: 1px solid #fef100;
  }
  header.open_setting .circle_icon.option .icon {
    background-position-y: -30px;
  }
  header.open_setting .upper_nav .option_content {
    right: 15px;
  }
  header.open_setting .upper_nav .option_content .circle_icon {
    transform: translateX(0px);
  }
  .sub header .upper_nav {
    padding: 15px;
  }
}
/* ---------- BANNER  ---------- */
.banner {
  position: relative;
}
.banner .left a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
}
.banner .right a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.25);
}
/* ---------- CORPORATION  ---------- */
.section--corporation {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section--corporation video {
  position: relative;
  z-index: -1;
  width: 100%;
}
.section--corporation:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333333;
  opacity: 0.7;
  z-index: 1;
}
.section--corporation .contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 3;
  transition: left 0.5s;
}
.section--corporation .contents .item {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
}
.section--corporation .contents .item h2 {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
}
.section--corporation .contents .item p {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  margin-bottom: 120px;
}
.section--corporation .contents .item p em {
  color: #fef100;
}
.section--corporation .contents .item ul {
  display: flex;
  justify-content: center;
}
.section--corporation .contents .item ul li {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
}
.section--corporation .contents .item ul li .icon {
  margin-bottom: 40px;
}
.section--corporation .contents .item ul li:before {
  content: "";
}
.section--corporation .contents .item ul li:not(:last-child) {
  margin-right: 250px;
}
@media all and (max-width: 1110px) {
  .section--corporation .contents .item .center_center {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section--corporation .contents .item .center_center h2 {
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
  }
  .section--corporation .contents .item .center_center p {
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
  }
  .section--corporation .contents .item .center_center ul {
    justify-content: space-between;
  }
  .section--corporation .contents .item .center_center ul li .icon {
    margin-bottom: 10px;
  }
  .section--corporation .contents .item .center_center ul li .text {
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.04em;
  }
  .section--corporation .contents .item .center_center ul li:not(:last-child) {
    margin-right: 0px;
  }
}
@media all and (max-width: 600px) {
  .banner .left a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  .banner .right a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  .section--corporation .contents .item .center_center {
    width: 95%;
    height: 90%;
    align-items: center;
  }
  .section--corporation .contents .item .center_center h2 {
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-size: 26px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
  }
  .section--corporation .contents .item .center_center p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.688em;
    margin-bottom: 0px;
    width: 80%;
  }
  .section--corporation .contents .item .center_center ul {
    margin-top: -10px;
  }
  .section--corporation .contents .item .center_center ul li .icon {
    margin-bottom: -10px;
  }
  .section--corporation .contents .item .center_center ul li .text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
    font-family: "Noto Serif KR", serif;
  }
  .section--corporation .contents .item .center_center ul li:not(:last-child) {
    margin-right: 30px;
  }
}
.section--corporation--last {
  margin-top: -1px;
}
/* ---------- NEW_PRODUCT  ---------- */
.new_product {
  padding: 130px 0;
}
.row--between {
  display: flex;
  justify-content: space-between;
}
.row--base {
  display: flex;
  align-items: flex-end;
}
.row--center {
  display: flex;
  justify-content: space-between;
}
.highlight--main {
  color: #e0393d;
}
.title--line_from_left {
  position: relative;
  width: 270px;
}
.title--line_from_left:before {
  content: "";
  position: absolute;
  width: 100vw;
  right: calc(100% + 10px);
  border-top: 1px solid #e0393d;
  top: 20px;
}
.bold {
  font-weight: 700;
}
.btn--square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 40px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
.btn--square:hover {
  color: #004796;
  font-weight: 700;
  border: 1px solid #666666;
}
.btn--square:hover .sprites {
  background-position-y: -30px;
}
.detail p {
  margin-bottom: 30px;
}
.detail .btn--square {
  margin-bottom: 10px;
}
.gallery--item_fit {
  display: table;
  width: 1%;
  text-align: center;
}
.gallery--item_fit .gallery--item_fit__text {
  padding: 15px;
  margin-bottom: 40px;
  font-family: "Noto Sans KR", sans-serif;
}
.gallery--item_fit .gallery--item_fit__image {
  display: block;
}
@media all and (max-width: 600px) {
  .gallery--item_fit .gallery--item_fit__text {
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.04em;
  }
}
blockquote {
  position: relative;
}
blockquote:before {
  content: "";
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 19px;
  height: 16px;
  background-position: -510px 0px;
  position: absolute;
  right: calc(100% - 40px);
}
blockquote:after {
  content: "";
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 19px;
  height: 16px;
  background-position: -540px 0px;
  position: absolute;
  left: calc(100% - 40px);
}
@media all and (max-width: 600px) {
  blockquote {
    display: inline-block;
  }
  blockquote:before {
    right: calc(100%);
  }
  blockquote:after {
    left: calc(100%);
  }
}
.line_background {
  position: relative;
}
.line_background:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 220px;
  background: #cccccc;
  z-index: -1;
  right: 0;
}
.new_product {
  position: relative;
}
.new_product .new_product_section {
  margin-bottom: 0px;
}
.new_product .new_product_section--more {
  margin-top: 100px;
}
.new_product .gallery--item_fit:first-child {
  margin-top: 100px;
}
.new_product .gallery--item_fit:last-child {
  margin-top: 400px;
}
.new_product .line_background:after {
  bottom: 120px;
}
@media all and (max-width: 1110px) {
  .layout_row--product {
    flex-wrap: wrap;
    align-items: center;
  }
  .layout_row--product .layout_row--product__image {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .layout_row--product .layout_row--product__title {
    order: 2;
    margin-left: 50px;
  }
  .layout_row--product .layout_row--product__detail {
    order: 3;
    margin-right: 50px;
  }
  .new_product .line_background:after {
    bottom: 120px;
  }
}
@media all and (max-width: 900px) {
  .layout_row--desc {
    flex-wrap: wrap;
    justify-content: center;
  }
  .new_product .gallery--item_fit:first-child {
    margin-top: 0px;
  }
  .new_product .gallery--item_fit:last-child {
    margin-top: 100px;
  }
  .layout--5column {
    flex-wrap: wrap;
    justify-content: center;
  }
  .layout--5column .layout--5column__col {
    width: 180px;
  }
}
@media all and (max-width: 600px) {
  .layout_row--product {
    justify-content: center;
  }
  .layout_row--product .layout_row--product__title {
    order: 1;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .layout_row--product .layout_row--product__image {
    order: 2;
    margin-bottom: 50px;
  }
  .layout_row--product .layout_row--product__image img {
    margin-left: 40px;
  }
  .layout_row--product .layout_row--product__detail {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .line_background:after {
    display: none;
  }
  .layout--5column .layout--5column__col {
    width: 200px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
/* ------------ NEWS ---------- */
.layout--news {
  text-align: center;
  background: #ffec48;
  padding: 50px 0;
}
.layout--news .layout--news__title {
  margin-bottom: 15px;
}
.layout--news .layout--news__title--sub {
  font-weight: 700;
  font-family: "Noto Serif KR", serif;
  margin-bottom: 20px;
}
.swiper-container {
  padding: 0 0 70px;
}
.swiper-container .swiper-slide-active {
  transform: scale(1.1);
}
.swiper-container .swiper-pagination {
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  background: rgba(204, 204, 204, 0.5);
  border-radius: 999px;
  display: flex;
  padding: 5px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider__wrapper {
  margin-top: 20px;
}
.slider__wrapper .slider__wrapper__slide {
  display: flex;
  transition: transform 0.5s;
  width: 600px;
  height: 300px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(102, 102, 102, 0.5);
}
.slider__wrapper .slider__wrapper__slide--text {
  width: 650px;
}
.slider__wrapper .slider__wrapper__slide.swiper-slide-active {
  transform: scale(1.1);
}
.slider__wrapper__slide__container {
  padding: 30px 40px;
  text-align: left;
}
.slider_item--news__title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
  width: 570px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider_item--news__date {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #999999;
  margin-bottom: 30px;
}
.slider_item--news__content {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.688em;
  width: 530px;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}
.module_link--more--noborder {
  display: flex;
  align-items: center;
}
.module_link--more--noborder .module_link--more--noborder__text {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: black;
  font-weight: 700;
  font-family: "Noto Serif KR", serif;
}
.module_link--more--noborder .module_link--more--noborder__icon {
  margin-left: 15px;
}
.popular {
  padding: 200px 0;
}
.popular__main {
  background: url(../images/popular_background.jpg) no-repeat center / cover;
  padding: 100px 0;
  margin-bottom: 54px;
}
.popular__main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__main__image {
  position: relative;
}
.popular__main__image .popular__main__image__ramen {
  position: absolute;
  left: 150px;
  top: 400px;
}
.popular_main_details .l_title_sub_desc__title {
  margin-bottom: 27px;
}
.popular_main_details .l_title_sub_desc__sub {
  margin-bottom: 81px;
}
.popular_main_details .m_title_sub_desc__title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: -0.05em;
  font-weight: 700;
  line-height: 67px;
}
.popular_main_details .m_title_sub_desc__title__em {
  color: #e0393d;
}
.popular_main_details .m_title_sub_desc__sub {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: -0.05em;
  letter-spacing: 0em;
  font-weight: 700;
  color: black;
}
.popular_main_details .m_title_sub_desc__desc {
  width: 450px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  line-height: 1.44em;
  font-family: "Noto Sans KR", sans-serif;
}
.l_popular__details {
  display: flex;
}
.m_popular__details {
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}
.l_popular__details__attr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 0;
}
.l_popular__details__attr .l_popular__details__attr__text {
  margin-bottom: 27px;
}
.l_popular__details__attr .l_popular__details__attr__button {
  margin-bottom: 15px;
}
.m_popular__details__attr__text {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.688em;
  font-family: "Noto Serif KR", serif;
  font-weight: 700;
}
.m_popular__details__video {
  width: 635px;
}
.popular__more {
  margin-top: -1px;
}
.l_recipe {
  margin-bottom: 160px;
}
.l_recipe_title {
  margin-bottom: 33px;
}
.l_recipe_title_sub {
  margin-bottom: 81px;
}
.s_recipe_title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  text-align: center;
  font-weight: 700;
}
.s_recipe_title_sub {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  line-height: 1.5em;
  text-align: center;
}
.l_recipe__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
.s_recipe__main__image {
  width: 477px;
  height: 317px;
}
.l_recipe__main__details .l_recipe__main__ingredients {
  text-align: center;
  padding: 27px 0;
  margin-bottom: 27px;
}
.l_recipe__main__details .l_recipe__main__ingredients .l_recipe__main__ingredients__title {
  margin-bottom: 27px;
}
.l_recipe__main__details .l_recipe__main__products {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.s_recipe__main__details {
  width: 350px;
}
.s_recipe__main__details .s_recipe__main__ingredients {
  border: 1px solid #e3e3e3;
}
.s_recipe__main__details .s_recipe__main__ingredients .s_recipe__main__ingredients__title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  font-weight: 700;
}
.s_recipe__main__details .s_recipe__main__product .s_recipe__main__product__image {
  margin-bottom: 10px;
}
.s_recipe__main__details .s_recipe__main__product .s_recipe__main__product__button {
  width: 140px;
}
.l_recipe__process {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.l_recipe__process__item {
  position: relative;
}
.l_recipe__process__item .l_receipe__process__item__detail {
  position: absolute;
  top: 184px;
}
.s_recipe__process__item {
  width: 160px;
  height: 160px;
  border: 1px solid #e3e3e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.s_recipe__process__item .s_receipe__process__item__title {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  line-height: 1.5em;
}
.s_recipe__process__item .s_receipe__process__item__detail {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  line-height: 1.5em;
  width: 250px;
  opacity: 0;
  transition: 0.5s;
}
.s_recipe__process__item:hover {
  border: 2px solid #FFEC48;
}
.s_recipe__process__item:hover .s_receipe__process__item__detail {
  opacity: 1;
}
.l_factory {
  text-align: center;
}
.s_factory {
  position: relative;
}
.s_factory:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 353px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, #ffda21 0%, rgba(255, 218, 33, 0) 50%);
}
.l_factory_title {
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
}
.l_factory_title .l_factory_title__category {
  margin-bottom: 27px;
}
.l_factory_title .l_factory_title__icon1 {
  position: absolute;
  top: 20px;
  left: calc(100% + 20px);
}
.l_factory_title .l_factory_title__icon2 {
  position: absolute;
  top: calc(100% - 40px);
  left: -30px;
}
.s_factory_title .s_factory_title__category {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding: 5px 30px;
  box-sizing: border-box;
  color: #fff;
  background: #fbaf4d;
  border-radius: 999px;
  display: inline-block;
}
.s_factory_title .s_factory_title__sub {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: -0.05em;
  line-height: 1.273em;
  font-weight: 700;
  color: #ffda21;
}
.s_factory_title .s_factory_title__main {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: -0.05em;
  line-height: 1.227em;
  font-weight: 700;
}
.s_factory_title .s_factory_title_em {
  color: #e0393d;
}
.s_factory_title .s_factory_title__icon1 {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 41px;
  height: 55px;
  background-position: -500px -400px;
}
.s_factory_title .s_factory_title__icon2 {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 60px;
  height: 60px;
  background-position: -400px -400px;
}
.l_factory_features {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto 64px;
}
.l_factory_features .l_factory_feature {
  text-align: center;
}
.l_factory_features .l_factory_feature .l_factory_feature__icon {
  position: relative;
  margin-bottom: 15px;
}
.l_factory_features .l_factory_feature .l_factory_feature__icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s_factory_feature .s_factory_feature__icon {
  width: 81px;
  height: 81px;
  border-radius: 999px;
  border: 1px solid #e3e3e3;
}
.s_factory_feature .s_factory_feature__icon:after {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
}
.s_factory_feature .s_factory_feature__icon--1:after {
  width: 58px;
  height: 40px;
  background-position: 0px -400px;
}
.s_factory_feature .s_factory_feature__icon--2:after {
  width: 50px;
  height: 50px;
  background-position: -100px -400px;
}
.s_factory_feature .s_factory_feature__icon--3:after {
  width: 49px;
  height: 49px;
  background-position: -200px -400px;
}
.s_factory_feature .s_factory_feature__icon--4:after {
  width: 53px;
  height: 44px;
  background-position: -300px -400px;
}
.s_factory_feature .s_factory_feature__text {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-family: "Noto Serif KR", serif;
}
.l_factory_button {
  margin: 0 auto;
}
.s_factory_button {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.05em;
  font-weight: 700;
}
