/* ---------- TYPOGRAPHY  ---------- */
.typo_title {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 44px;
  letter-spacing: -0.05em;
}
.typo_title_small {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 33px;
  letter-spacing: -0.05em;
}
.typo_content_title {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 25px;
  letter-spacing: -0.05em;
}
.typo_content_title_small {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
.typo_content {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.typo_content_small {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.01em;
}
body {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
}
a {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
  text-decoration: none;
}
/* --------- COLOR ------------ */
/* ---------- LAYOUT  ---------- */
.container {
  width: 1110px;
  margin: 0 auto;
}
.center_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ---------- COMMON  ---------- */
.hidden_text {
  display: inline-block;
  text-indent: -9999em;
  outline: none;
}
.sprites {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
}
.sprites.shoplink {
  width: 130px;
  height: 40px;
  background-position: 0px 0px;
}
.sprites.logo {
  width: 125px;
  height: 120px;
  background-position: -150px 0px;
}
.menu a {
  width: 16px;
  height: 12px;
  background-position: -390px 0px;
}
.option a {
  width: 16px;
  height: 15px;
  background-position: -420px 0px;
}
.locale a {
  width: 17px;
  height: 19px;
  background-position: -300px 0px;
}
.help a {
  width: 18px;
  height: 19px;
  background-position: -330px 0px;
}
.search a {
  width: 18px;
  height: 19px;
  background-position: -360px 0px;
}
.sprites.search_button {
  width: 18px;
  height: 19px;
  background-position: -360px 0px;
}
.sub header .sprites.logo {
  width: 114px;
  height: 44px;
  background-position: -450px 0px;
}
.circle_icon {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 9999px;
  box-sizing: border-box;
  transition: width 0.5s;
}
.circle_icon a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle_icon span {
  display: none;
}
/* ---------- HEADER - LAYOUT  ---------- */
header .upper_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  padding: 27px 0;
  /* 순서 및 보이고 안보이고 조정 */
}
header .upper_nav .shoplink {
  order: 1;
}
header .upper_nav h1 {
  order: 2;
}
header .upper_nav .option_content {
  order: 3;
}
header .upper_nav .option {
  order: 4;
}
header .upper_nav .menu {
  display: none;
}
header .upper_nav .option {
  display: none;
}
header .upper_nav .option_content .search {
  display: none;
}
header .upper_nav .option_content {
  display: flex;
}
header .upper_nav .option_content > span {
  margin-left: 10px;
}
header .upper_nav .circle_icon:hover {
  width: 100px;
  padding: 5px 15px;
}
header .upper_nav .circle_icon:hover a {
  background-position-y: -30px;
  position: static;
  top: auto;
  left: auto;
  transform: none;
}
header .upper_nav .circle_icon:hover span {
  display: inline;
}
header .upper_nav .search_input {
  position: absolute;
  right: 0;
  bottom: 27px;
  width: 250px;
  height: 30px;
}
header .upper_nav .search_input input[type="text"] {
  border: none;
  outline: none;
  width: 220px;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
header .upper_nav .search_input .search_button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-7px, -7px);
  border: none;
}
header .upper_nav .search_input input[type="text"]:focus ~ .search_button {
  background-position-y: -30px;
}
header .upper_nav .search_input span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  bottom: 27px;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid #e3e3e3;
}
header .upper_nav .search_input input[type="text"]:focus ~ span {
  border-bottom: 2px solid #fef100;
}
/* ----------- Sub Page ---------------- */
.sub header .upper_nav {
  position: relative;
  padding: 20px 0;
  align-items: center;
  /* 순서 및 보이고 안보이고 조정 */
}
.sub header .upper_nav .search_input {
  display: none;
}
.sub header .upper_nav .option_content .search {
  display: inline-block;
}
.sub header .upper_nav .shoplink {
  position: absolute;
  top: 100%;
  right: 0;
}
/* ----------- TABLET ----------------- */
@media all and (max-width: 1110px) {
  .container {
    width: 100%;
    margin: auto;
  }
  header .upper_nav {
    padding: 20px 15px;
    /* 순서 및 보이고 안보이고 조정 */
  }
  header .upper_nav .option_content .search {
    display: inline-block;
  }
  header .upper_nav .search_input {
    display: none;
  }
}
/* ----------- MOBILE ----------------- */
@media all and (max-width: 576px) {
  header .upper_nav {
    padding: 15px;
    /* 순서 및 보이고 안보이고 조정 */
  }
  header .upper_nav .menu {
    display: block;
  }
  header .upper_nav .option {
    display: block;
  }
  header .upper_nav .option_content {
    display: none;
  }
  header .upper_nav .shoplink {
    display: none;
  }
  .sub header .upper_nav {
    padding: 15px;
  }
}
/* ------------ FLEX 지원 안할 때 대체 CSS ----------- */
