/* ---------- TYPOGRAPHY  ---------- */

@typo_sans_serif: 'Noto Serif KR';
@typo_sans: 'Noto Sans KR';
@typo_light: 300;
@typo_lh_typo_title: 1.227em;
@typo_lh_typo_title_small: 1.273em;
@typo_lh_typo_content_title: 1.44em;
@typo_lh_typo_content_title_small: 1.5em;
@typo_lh_typo_content: 1.688em;
@typo_lh_typo_content_small: 1.929em;

.typo_title {
    font-family: @typo_sans_serif;
    font-weight: @typo_light;
    font-size: 44px;
    letter-spacing: -0.05em;
}

.typo_title_small {
    font-family: @typo_sans_serif;
    font-weight: @typo_light;
    font-size: 33px;
    letter-spacing: -0.05em;
}

.typo_content_title {
    font-family: @typo_sans_serif;
    font-weight: @typo_light;
    font-size: 25px;
    letter-spacing: -0.05em;
}

.typo_content_title_small {
    font-family: @typo_sans_serif;
    font-weight: @typo_light;
    font-size: 18px;
    letter-spacing: -0.04em;
}

.typo_content {
    font-family: @typo_sans;
    font-weight: @typo_light;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.typo_content_small {
    font-family: @typo_sans;
    font-weight: @typo_light;
    font-size: 14px;
    letter-spacing: -0.01em;
}


body {
    .typo_content();
    color: @color_black;
}

a {
    .typo_content(); 
    color: @color_black;
    text-decoration: none;
}


/* --------- COLOR ------------ */

@color_white: #fff;
@color_grey: #e3e3e3;
@color_grey75: rgb(234,234,234);
@color_grey50: rgb(241,241,241);
@color_grey25: rgb(248,248,248);
@color_black: #333333;
@color_black75: rgb(102,102,102);
@color_black50: rgb(153,153,153);
@color_black25: rgb(204,204,204);
@color_black_light:  rgb(68,68,68);
@color_red: #e0393d;
@color_red_dark: #9a0000;
@color_yellow: #fef100;
@color_yellow_dark: #d6cc10;
@color_blue: #004796;
@color_blue_dark: #083262;


/* ---------- LAYOUT  ---------- */
@line_1line: 27px;
@line_2line: 54px;

.container {
    width: 1110px;
    margin: 0 auto;
}


/* ---------- COMMON  ---------- */

.hidden_text {
    display: inline-block;
    text-indent: -9999em;
    outline: none;
}

.shadow {
    box-shadow: 3px 3px 3px rgba(227,227,227, 0.25);
}

.no_shadow {
    box-shadow: none;
}


.center_center {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}


.fill_parent {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.sprites {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat;
    text-indent: -9999em;
    outline: none;
}

.sprites.shoplink  { width: 130px; height: 40px; background-position: 0px -0px; }
.sprites.logo { width: 125px; height: 120px; background-position: -150px -0px; }
.menu .icon { width: 16px; height: 12px; background-position: -390px -0px;  }
.option .icon { width: 16px; height: 15px; background-position: -420px -0px; }
.locale .icon  { width: 17px; height: 19px; background-position: -300px -0px; }
.help .icon { width: 18px; height: 19px; background-position: -330px -0px; }
.search .icon { width: 18px; height: 19px; background-position: -360px -0px; }
.sprites.search_button { width: 18px; height: 19px; background-position: -360px -0px; }

.sub header .sprites.logo { width: 114px; height: 44px; background-position: -450px -0px; }


.circle_icon {
    display: flex;    
    align-items: center;
    position: relative;
    width: 34px;
    height: 34px;
    background: @color_white;
    border: 1px solid @color_grey;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: pointer;
    transition: width 0.5s;
    overflow: hidden;

    .icon {
        .center_center();
    }

    .text, .arrow {    
        position: absolute;
        right: -100px;
        transition-property: right;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        opacity: 0;
        .typo_content();
        font-family: @typo_sans_serif;
        color: @color_black50;
    }

    &:hover {
        width: 120px;
        padding: 5px 15px;
        border: 1px solid @color_yellow;
        .shadow();
    
        .icon {
            background-position-y: -30px;
            position: static; top: auto; left: auto; transform: none;
        }
    
        .text, .arrow {
            right: 15px;
            margin-left: 7px;
            opacity: 1;
        }
    }

    &:active {
        .no_shadow(); 
        background: @color_grey25;
    }
}


.circle_icon.dropdown_menu {
    overflow: visible;
    .window {
        .fill_parent();
        padding: inherit;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .dropdown_content {
        display: none;
        position: absolute;
        text-align: center;
        top: calc(100% + 1px);
        left: 50%; transform: translateX(-50%);
        width: inherit;
        border: 1px solid @color_yellow;
        .shadow();
        z-index: 3;
        padding: 20px 0;
        background: #fff;

        li {
            height: 30px;
            line-height: 30px;

            &:hover {
                background: @color_grey50;
            }
        }
    }
}

.circle_icon.dropdown_menu.active {
    .dropdown_content {
        display: block;
    }
}

.circle_icon.dropdown_menu:hover {
    width: 130px;

    .text {
        right: 30px;
    }

    .arrow {
        color: @color_black25;
    }
} 





/* ---------- HEADER - LAYOUT  ---------- */

header {
    .upper_nav {
        position: relative;
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid @color_grey;
        padding: @line_1line 0;
        height: 120px;

        /* 순서 및 보이고 안보이고 조정 */
        .shoplink { order: 1; }
        h1 { order: 2; }
        .option_content { order: 3; }
        .option { order: 4; }

        .menu { display: none; }
        .option { display: none; }
        .option_content .search { display: none; }
     

        h1 {
            .center_center();
        }

        .option_content {
            display: flex;
            & > span {
                margin-left: 10px;
            }        
        }   
        
        .search_input {
            position: absolute;
            right: 0;
            bottom: @line_1line;
            width: 250px;
            height: 30px;

            input[type="text"] {                
                border: none;
                outline: none;
                width:  220px;
                height: 30px;
                padding: 4px;
                box-sizing: border-box;
                .typo_content_title_small();  
            }

            .search_button {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(-7px, -7px);
                border: none;
            }

            input[type="text"]:focus ~ .search_button {
                background-position-y: -30px;
            }

            span {
                position: absolute; left: 0;  z-index: 1;
                bottom: 0;
                width: 250px;
                border-bottom: 1px solid @color_grey;
            }

            input[type="text"]:focus ~ span {
                border-bottom: 1px solid @color_yellow;
                .shadow();
            }
        }
    }

    nav {
        ul  ul {
            display:none;   
        }
    }

}




/* ----------- Sub Page ---------------- */

.sub header {
    .upper_nav {
        position: relative;
        padding: 20px 0;
        align-items: center;

        /* 순서 및 보이고 안보이고 조정 */
        .search_input { display: none; }
        .option_content .search { display: flex; }

        .shoplink {
            position: absolute;
            top: 100%;
            right: 0;
        }
    }

}


/* ----------- TABLET ----------------- */


@media all and (max-width: 1110px) {
    .container {
        width: 100%;
        margin: auto;
    }

    header {
        .upper_nav {
            padding: 20px 15px;
            /* 순서 및 보이고 안보이고 조정 */
            .option_content .search { display: flex; }
            .search_input { display: none; }
        }       
    }
}

/* ----------- MOBILE ----------------- */

@media all and (max-width: 576px) {
    header {
        .upper_nav {
            padding: 15px;

            /* 순서 및 보이고 안보이고 조정 */
            .menu { display: block; }
            .option { display: block; }
            .option_content { display: none; }
            .shoplink { display: none; }
        }
    }

    .sub header {
        .upper_nav {
            padding: 15px;
        }
    }
}



/* ------------ FLEX 지원 안할 때 대체 CSS ----------- */
.no-flexbox {

}