/* ---------- TYPOGRAPHY  ---------- */
.typo_title {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 44px;
  letter-spacing: -0.05em;
}
.typo_title_small {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 33px;
  letter-spacing: -0.05em;
}
.typo_content_title {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 25px;
  letter-spacing: -0.05em;
}
.typo_content_title_small {
  font-family: 'Noto Serif';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
}
.typo_content {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.typo_content_small {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.01em;
}
body {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
}
a {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333333;
  text-decoration: none;
}
/* --------- COLOR ------------ */
/* ---------- LAYOUT  ---------- */
.container {
  width: 1110px;
  margin: 0 auto;
}
.center_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ---------- COMMON  ---------- */
.hidden_text {
  display: inline-block;
  text-indent: -9999em;
  outline: none;
}
.sprites {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
}
.sprites.logo {
  width: 125px;
  height: 120px;
  background-position: -150px 0px;
}
.sprites.shoplink {
  width: 130px;
  height: 40px;
  background-position: 0px 0px;
}
.sprites.locale {
  width: 17px;
  height: 19px;
  background-position: -300px 0px;
}
.sprites.help {
  width: 18px;
  height: 19px;
  background-position: -330px 0px;
}
.sprites.search {
  width: 18px;
  height: 19px;
  background-position: -360px 0px;
}
.sprites.menu {
  width: 16px;
  height: 12px;
  background-position: -390px 0px;
}
.sprites.option {
  width: 16px;
  height: 15px;
  background-position: -420px 0px;
}
.circle_icon {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 100%;
}
.circle_icon a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ---------- HEADER - LAYOUT  ---------- */
header .upper_nav {
  display: flex;
}
/* ---------- HEADER - DECORATION  ---------- */
