
/* ---------- BANNER  ---------- */

.banner {
    position: relative;
    .left a { .center_vertical(); left: 50px; .shadow(); }
    .right a { .center_vertical(); right: 50px; .shadow(); }
} 



/* ---------- CORPORATION  ---------- */

.corporation {
    position: relative;
    width: 100%;
    overflow: hidden;

    video {
        position: relative;
        .z_index_back();
        width: 100%;
    }

    &:after {
        content: "";
        .fill_parent();
        background: @color_black;
        opacity: 0.7;
        .z_index_low();
    }

    .contents {
        .fill_parent();
        width: 200%;
        display: flex;
        .z_index_high();

        .item {   
            position:relative;         
            width: 100%;
            color: @color_white;
            text-align: center;
            
            h2 {
                .typo_title();    
                margin-bottom: 50px;            
            }
            
            p {
                .typo_content_title();
                margin-bottom: 120px;
                em {
                    color: @color_yellow;
                }
            }

            ul {
                display: flex;
                justify-content: center;
                li {                    
                    .icon {
                        margin-bottom: 40px;
                    }
                    &:before {
                        content:"";
                    }
                    .typo_content_title();
                }
                li:not(:last-child) {
                    margin-right: 250px;
                }
            }
            
        }
    }
}



@media all and (max-width: 1110px) {
    .corporation .contents .item {
        h2 {
            .typo_title_small();    
            margin-bottom: 20px;   
        }
        p {
            .typo_content_title_small();
            margin-bottom: 30px;
        }
        ul li {
            .icon {
                margin-bottom: 10px;
            }
            .text {
                .typo_content_title_small();
            }
        }
        ul li:not(:last-child) {
            margin-right: 30px;
        }
    }

}



@media all and (max-width: 600px) {
    .banner {
        .left a { .center_vertical(); left: 20px; }
        .right a { .center_vertical(); right: 20px; }
    }

    .corporation .contents .item {
        h2 {
            .typo_content_title();                
            margin-bottom: 20px;   
        }
        p {
            .typo_content();
            margin-bottom: 20px;
        }
        ul li {
            .icon {
                margin-bottom: 10px;
            }
            .text {
                .typo_content();
                font-family: @typo_sans_serif;
            }
        }
        ul li:not(:last-child) {
            margin-right: 30px;
        }
    }   

}


/* ---------- NEW_PRODUCT  ---------- */

.new_product {
    padding: 130px 0;
}

.row--between {
    display: flex;
    justify-content: space-between;
}

.row--base {
    display: flex;
    align-items: flex-end;
}

.row--center {
    display: flex;
    justify-content: space-between;
}

.highlight--main {
    color: @color_red;
}

.title--line_from_left {
    position:relative;
    width: 270px;

    &:before {
        content:"";
        position:absolute;
        width: 100vw;
        right: calc(100% + 10px);
        border-top: 1px solid @color_red;
        top: 20px;
    }
}

.bold {
    font-weight: 700;
}

.btn--square {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 1px solid @color_black25;
    text-align: center;
    line-height: 40px;
    .typo_content_title_small();

    &:hover {
        color: @color_blue;
        font-weight: 700;
        border: 1px solid @color_black75;
        .sprites {
            background-position-y: -30px;
        }
    }
}


.detail {
    p {
        margin-bottom: 30px;
    }
    .btn--square {
        margin-bottom: 10px;
    }
}

.box--keyitem_width {
    position: relative;
    .box--keyitem_width--others {
        position: absolute;
        padding: 50px;
        width: 100%;
        box-sizing: border-box;
    }
}



.new_product {
    div {
        margin-bottom: 100px;
    }
}