
/* -------- 브레드스크럼 -------- */


.s_breadscrum {
  background: @color_grey50;
}

.l_breadscrum__items {
  display: flex;
  justify-content: flex-start;
}
.l_breadscrum__item {
  display: flex;
  align-items: center;
  margin-right: -1px;
  padding: 0 15px;
  box-sizing: border-box;
}
.l_breadscrum__item__icon--down {
  margin-left: 10px;
}

.s_breadscrum__item {
  height: @line_2line;
  border-left: 1px solid @color_grey;
  border-right: 1px solid @color_grey;
  cursor: pointer;
}
.s_breadscrum__item:hover {
  .s_breadscrum__item__icon--home,
  .s_breadscrum__item__icon--down {
    background-position-y: -30px;
  }
}

.s_breadscrum__item__icon--home {
  .sprites();
  .sprites--home();
}

.s_breadscrum__item__icon--down {
  .sprites();
  .sprites--downarrow();
}


/* -------- 서브 배너 -------- */

.l_product_banner {
  padding-bottom: 162px;
}

.l_product_banner__container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.l_product_banner__main {
  position: absolute;
  left: 40px;
  top: 40px;
}

.l_product_banner__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: @line_3line 100px 20px;
}
.l_product_banner__title {
  margin-bottom: @line_1line;
}
.l_product_banner__desc {
  margin-bottom: @line_2line;
}
.l_product_banner_buttons {
  display: flex;
}
.l_product_banner_button {
  margin-right: 40px;
}

.s_product_banner {
  background: url(../images/product_banner_back.jpg) no-repeat bottom;
}

.s_product_banner__title {
  .typo_title_small();
  .typo_title_small__lh();
}

.s_product_banner__desc {
  .typo_content_title_small();
  .typo_content_title_small__lh();
}

.s_product_banner_button {
  width: 200px;
}


/* -------- 필터 UI -------- */

.s_product_filter_button__icon--1 {
  .sprites();
  .sprites--filtericon--1();
}
.s_product_filter_button__icon--2 {
  .sprites();
  .sprites--filtericon--2();
}
.s_product_filter_button__icon--3 {
  .sprites();
  .sprites--filtericon--3();
}
.s_product_filter_button__icon--4 {
  .sprites();
  .sprites--filtericon--4();
}
.s_product_filter_button__icon--5 {
  .sprites();
  .sprites--filtericon--5();
}
.s_product_filter_button__icon--6 {
  .sprites();
  .sprites--filtericon--6();
}
.s_product_filter_button__icon--7 {
  .sprites();
  .sprites--filtericon--7();
}
.s_product_filter_button__icon--8 {
  .sprites();
  .sprites--filtericon--8();
}
.s_product_filter_button__icon--9 {
  .sprites();
  .sprites--filtericon--9();
}
.s_product_filter_button__icon--10 {
  .sprites();
  .sprites--filtericon--10();
}


